<!DOCTYPE html>
<html lang="en">
    <% include ../head %>
    <title>index</title>
    <link rel="stylesheet" href="/css/manage-products.css">
</head>
<body>
    <div class="container-fluid">
        <% include ../header %>
        <main class="mainDiv row">
            <% include ../auth/login %>
            <% include ../auth/signup %>
            <% include ../auth/resetPassword %>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="main-title">CATALOGUE DES PRODUITS</h1>
                </div>
            </div>
                            
            <%if (products.length >0) { %>
                <section class="row products">
                    <% products.forEach(function(product) { %>
                        <article class="col-sm-3 card_items">
                            <%if (product.imageUrl) { %>
                                <img class="image_product" src="/<%= product.imageUrl %>" alt="">
                            <% }else{ %>
                                <img class="image_product" src="/images/noimage.jpg" alt="">
                            <% } %>
                            <p>Produit: <%= product.nom %></p>
                            <p>Prix: € <%= product.prix %></p>
                            <div class="div-inline">
                                <div class="divbtn">
                                    <div class="link">
                                        <a href="/admin/edit-product/<%= product._id %>">
                                            <button class="btn btn-primary glyph-manage" ><span class="glyphicon glyphicon-pencil"></span></button>
                                        </a>
                                    </div>
                                    <!-- <form action="/admin/delete-product" method="POST" class="link"> -->
                                    <button class="btn btn-primary glyph-manage" type="button" onclick="deleteProduct(this)"><span class="glyphicon glyphicon-trash"></span></button>
                                    <input type="hidden" value="<%= product._id %>" name="prodId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    <!-- </form> -->
                                </div>
                            </div>
                        </article>

                                
                    <% }); %>
                </section>
                <div class="row">
                    <section class="pagination col-sm-12">
                        <% if (currentPage > 1) { %>
                            <a href="/admin/manage-products/?page=1">1</a>
                        <% } %>
                        <% if (hasPreviousPage && currentPage > 2) { %>
                            <a href="/admin/manage-products/?page=<%= previousPage %>"><%= previousPage %></a>
                        <% } %>
                        <a href="/admin/manage-products/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                        <% if (hasNextPage) { %>
                            <a href="/admin/manage-products/?page=<%= nextPage %>"><%= nextPage %></a>
                        <% } %>
                    </section>
                </div>
            <% }else{ %>
                <h2>Vous ne pouvez modifier aucun produit - Ajouter un produit !!!</h2>
            <% } %>
        </main>
        <% include ../end %>
    </div>
    <script src="/js/admin.js"></script>
